# Main frameworks
fastapi
streamlit
uvicorn[standard]

# AI & RAG
langchain
langchain-community
langchain-google-genai
chromadb
google-generativeai

# Data & Utilities
yfinance
httpx
python-dotenv
fastapi-cors
requests
pypdf2
pandas